body {
    width: 320px;
    font-size: var(--font-size);
}

.option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    color: var(--selected-item-color);
    font-weight: var(--selected-item-font-weight);
}

.arrow {
    display: inline-flex;
}